@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

body {
  width: 1280px;
  height: 720px;
  background: radial-gradient(
    96.74% 276.79% at 3.59% 5.28%,
    #f0f4ff 0%,
    #a5b6ee 100%
  );
  background-repeat: no-repeat;
}

h1 {
  width: 244;
  height: 48px;
  margin-top: 72px;
  margin-left: 518px;
}

.line {
  width: 312px;
  height: 1px;
  background: rgba(61, 83, 138, 1);
  margin-top: 23px;
  margin-left: 44px;
}

.container {
  margin-top: 60px;
  margin-left: 440px;
  border-radius: 16px;
  width: 400px;
  height: 360px;
  background: linear-gradient(144.07deg, #5572bb 2.13%, #374b7c 102.97%);
  box-shadow: 20px 20px 60px 10px rgba(55, 75, 124, 0.4);
}

.timer {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  padding-top: 48px;
}

.time {
  margin-left: 58px;
  margin-top: 32px;
  display: flex;
}

.HRS,
.MIN,
.SEC {
  width: 80px;
  height: 80px;
  background: linear-gradient(314.28deg, #304577 0%, #4c65a0 83%);
  border: 1px solid rgba(53, 73, 113, 1);
  text-align: center;
  align-content: center;
  font-family: Pretendard;
  font-size: 40px;
  font-weight: 700;
  line-height: 48.01px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.dot {
  width: 6px;
  height: 26px;
  margin: 30px 8px;
}

.buttons {
  margin-top: 40px;
  margin-left: 82px;
  width: 236px;
  height: 48px;
}

.start,
.reset {
  width: 112px;
  height: 100%;
  border-radius: 50px;
  background: rgba(50, 69, 119, 1);
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.05) inset;
  border: none;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.8px;
  text-align: left;
}

.icon {
  margin-left: 15px;
}

.corp {
  margin-top: 60px;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: center;
}
